<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>ShortLink</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>ShortLink</a></h1>
        </header>
        <main>
            <form action="" method="get" class="form-example">
                <div class="form-short-link">
                    <p>Your link</p>
                    <label for="name">http://: </label>
                    <input type="text" name="name" id="name" required />
                    <input type="submit" value="Create link!" />
                </div>
            </form>
        </main>
    </body>
</html>